@model IEnumerable<Bookstore.Domain.Authors.AuthorAgeResult>

@{
    ViewData["Title"] = "Other Authors";
}

<h1>Other Authors</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormattedModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusinessEntityID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                </tr>
        }
    </tbody>
</table>
