@model BobBookstore.Models.ViewModels.BookViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model == null)
{
    <h3>Book not found.</h3>
}
else
{
    <h2>Name: @Html.DisplayFor(modelitem => Model.BookName)</h2>
    
    <h4>Genre: @Html.DisplayFor(modelitem => Model.GenreName)</h4>
    <h4>Type: @Html.DisplayFor(modelitem => Model.TypeName)</h4>
    <img src="@Html.DisplayFor(modelitem => Model.Url)" />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum
    </p>
    @if (Model.Prices.Count == 0)
    {
        <p>None in stock</p>
    }
    else
    {
        @foreach (var price in Model.Prices)
        {
            <table>
                <tr>
                    <td>Price @Html.DisplayFor(modelitem => price.ItemPrice)</td>
                    <td>Condtion @Html.DisplayFor(modelitem => price.Condition.ConditionName)</td>
                    <td>
                        <form asp-controller="Search" asp-action="AddtoCartitem" method="get">
                            <input type="hidden" name="bookid" value="@Model.BookId" />
                            <input type="hidden" name="priceid" value="@price.Price_Id" />
                            <input type="submit" value="Add to cart" />
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Search" asp-action="AddtoWishList" method="get">
                            <input type="hidden" name="bookid" value="@Model.BookId" />
                            <input type="hidden" name="priceid" value="@price.Price_Id" />
                            <input type="submit" value="Add to WishList" />
                        </form>
                    </td>
                </tr>

            </table>
        }
    }



}
