@model BobBookstore.Models.ViewModels.PaginationModel
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<h2>Search for Books</h2>

<form asp-controller="Search" asp-action="Index" method="get">
        <div class="form-group">

            <input class="form-control" type="text" name="SearchString" value="@ViewBag.currentFilter" />
            <button type="submit" class="btn btn-primary" value="Search">Search</button>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Sort By:</label>
            <select id="selectId" class="col-2 custom-select form-control" name="SortBy" onchange="javascript:this.form.submit()">
                <option value="Name">Name</option>
                <option value="Genre">Genre</option>
                <option value="Type">Type</option>
                <option value="PriceAsc">Price (ascending)</option>
                <option value="PriceDesc">Price (descending)</option>
            </select>
        </div>
            

        
    
</form>

@if (Model == null)
{
    <h3>
        No results found.
    </h3>
}
else
{
    <!--<div class="card-deck">
        @foreach (var item in Model.Data)
        {
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 400px">
                    <img class="card-img-top" src="Html.DisplayFor(modelitem => item.Url)" alt="Book photo" style="width:10rem" />
                    <h5 class="card-title">Html.DisplayFor(modelitem => item.BookName)</h5>
                    <p class="card-text">Html.DisplayFor(modelitem => item.GenreName)</p>
                    if (item.Prices.Count == 0)
                    {
                        <p class="card-text">None in stock</p>
                    }
                    else
                    {
                        <p class="card-text">Available from $Html.DisplayFor(modelitem => item.MinPrice)</p>
                    }
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        
        } 
    </div> -->
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    Type
                </th>
                <th>
                    Available from
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.PublisherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.TypeName)
                    </td>
                    @if (item.Prices.Count == 0)
                    {
                        <td> None in stock </td>
                    }
                    else
                    {
                        <td> Available from $@item.MinPrice</td>
                    }


                    <td>
                        <form asp-controller="Search" asp-action="Detail" method="get">
                            <input type="hidden" name="id" value="@item.BookId" />
                            <input type="submit" value="details" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <body>
        <section class="static about-sec">
            <div class="container">
                <h2>Search Results:</h2>
                
                    <div class="recent-book-sec">
                        <div class="row">

                            @foreach (var item in Model.Data) {


                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="@Html.DisplayFor(modelItem => item.Url)" alt="img">
                                        <h3>@Html.DisplayFor(modelitem => item.BookName)</h3>
                                        @if (item.Prices.Count != 0)
                                        {

                                            <h6><span class="price">$@item.MinPrice </span> </h6>
                                        }
                                        else
                                        {
                                            <h6> Out Of Stock</h6>
                                        }
                                        <div class="hover">
                                            <form asp-controller="Search" asp-action="Detail" method="get">
                                                <input type="hidden" name="id" value="@item.BookId" />
                                                <input type="submit" value="details" />
                                            </form>

                                        </div>

                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                
                <div>
                    <ul class="pagination">
                        @for (var i = 1; i <= (int)Math.Ceiling(Model.Count / 10.0); i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a asp-route-page="@i" asp-route-sortBy="@ViewBag.CurrentSort" asp-route-searchstring="@ViewBag.currentFilter" class="page-link">@i</a>
                            </li>
                        }
                    </ul>
                </div>
</section>
        
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
    <br />

}


