@model BobBookstore.Models.ViewModels.PaginationModel
@{
    ViewData["Title"] = "Search for books";
}

    <head>
        <meta charset="UTF-8">
        <title>Book Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#03a6f3">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://dtdt6j0vhq1rq.cloudfront.net/owl.carousel.min.css">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/styles.css">
    </head>

<h2>Search for Books</h2>


<form asp-controller="Search" asp-action="Index" method="get">


    <div class="input-group mt-5">


        <input class="form-control" type="text" placeholder="Search by book title, author, genre ..." name="SearchString" value="@ViewBag.currentFilter" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" value="Search">Search</button>
        </div>

    </div>
    <div class="input-group">
        <label class="col-sm-2 col-form-label">Sort By:</label>
        <select id="selectId" class="col-2 custom-select form-control" name="SortBy" onchange="javascript:this.form.submit()">
            <option value="Name">Name</option>
            <option value="Genre">Genre</option>
            <option value="Type">Type</option>
            <option value="PriceAsc">Price (ascending)</option>
            <option value="PriceDesc">Price (descending)</option>
        </select>
    </div>



</form>

@if (Model != null && Model.Count == 0)
{
    <h3>
        No results found.
    </h3>
}
else if (Model != null)
{
    <body>
        <section class="static about-sec">
            <div class="container">
                <h2>Search Results:</h2>

                <div class="recomended-sec">
                    <div class="row">

                        @foreach (var item in Model.Data)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="item">
                                    @if (item.Url == null || item.Url.Length == 0)
                                    {
                                        <img src="https://dtdt6j0vhq1rq.cloudfront.net/Register.jpg" alt="img">
                                    }
                                    else
                                    {
                                        <img src="@Html.DisplayFor(modelItem => item.Url)" alt="book image">
                                    }
                                    <h3>@Html.DisplayFor(modelitem => item.BookName)</h3>
                                    @if (item.Prices.Count != 0)
                                    {
                                        <h6><span class="price">$@item.MinPrice </span> / Buy Now </h6>
                                    }
                                    else
                                    {
                                        <h6> Out Of Stock</h6>
                                    }
                                    <div class="hover">
                                        <a asp-controller="Search" asp-action="Detail" asp-route-id="@item.BookId">
                                            <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div>
                    <ul class="pagination">
                        @for (var i = 1; i <= (int)Math.Ceiling(Model.Count / 10.0); i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                    <a  class="btn black" asp-route-page="@i" asp-route-sortBy="@ViewBag.CurrentSort" asp-route-searchstring="@ViewBag.currentFilter" class="page-link">@i</a>
                            </li>
                        }
                    </ul>
                </div>
</section>
        
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
    <br />

}


