@model IEnumerable<BobBookstore.Models.ViewModels.BookViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Search</h2>

<p>Books</p>

<form asp-controller="Search" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if (Model == null)
{
    <h3>
        No results found.
    </h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.TypeName)
                    </td>
                    <td>
                        <form asp-controller="Search" asp-action="Detail" method="get">
                            <input type="hidden" name="id" value="@item.BookId" />
                            <input type="submit" value="details" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

