@model BOBS_Backend.ViewModel.FetchBooksViewModel

@{
    var types = (List<string>)ViewData["Types"];
    var status = (string)ViewData["status"];
}
@{
    var books = (IEnumerable<BOBS_Backend.DataModel.BookDetails>)ViewData["Books"];
}

<div class="overview-wrap">
    <h1 class="title-1 text-center font-weight-light" style="margin-bottom: 45px; font-size: 300">Book Details</h>
</div>
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    @* <h1 class="my-4 text-center">
        @Model.BookName
        <small>All that you need , and more...</small>
        </h1>*@
    <form method="get">
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="http://placehold.it/750x500" alt="">
                <div class="text-center">
                    <button name="bookname" value="@Model.BookName" asp-controller="Inventory" asp-action="EditBookDetails" type="submit" class="btn btn-info btn-lg text-center" style="width: 40%; margin-top : 5%"><span class="glyphicon glyphicon-ok-sign"></span>  Add Variant</button>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="my-3 text-center">@Model.BookName</h3>
                <p>
                    Harry Potter and the Order of the Phoenix is the fifth novel in the Harry Potter series written by J.K. Rowling.
                    A special new edition in celebration of the 20th anniversary of the publication of Harry Potter and the Sorcerer's Stone, with a stunning new cover illustration by Caldecott Medalist Brian Selznick.
                </p>
                <ul class="list-group">
                    <li style=" margin-top : 5%">
                        <button type="button" class=" btn-success btn-lg" style="width: 80% ; "><span class="glyphicon glyphicon-ok-sign"></span> @Model.publisher</button>
                    </li>
                    <li style=" margin-top : 5%">
                        <button type="button" class=" btn btn-danger btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span> @Model.genre</button>
                    </li>
                    <li style=" margin-top : 5% ; margin-bottom : 5%">
                        <button type="button" class=" btn btn-warning btn-lg" style="width: 80%;"><span class="glyphicon glyphicon-ok-sign"></span>  @Model.BookType</button>
                    </li>
                </ul>
            </div>
    </form>
    @{ var param = new Dictionary<string, string>
                                 {
                        {"BookName",Model.BookName + ""}

                     };
    }
</div>
<!-- /.row -->
<!-- Related Projects Row -->
<form method="post" style="padding-bottom: 0px;">

    <h4 class="my-4 font-weight-light title-1 ">Available formats</h4>
    <div class="form-group">
        @foreach (var type in types)
        {
            var typechosen = type;
            <button name="type" value="@type" asp-controller="Inventory" asp-action="BookDetails" asp-all-route-data="param" class="btn btn-outline-secondary rounded" type="submit">@type</button>
        }
    </div>
</form>
@if (status == "List" && books != null)
 {

    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <h4>Bootstrap Snipp for Datatable</h4>
                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Publisher</th>
                        <th>Type</th>
                        <th>Condition</th>
                        <th>Edit</th>
                        </thead>
                        <tbody>
                            <form method="post" style="padding-bottom: 0px;">
                                @foreach (var m in books)
                                {
                                    <tr>
                                        <td>@m.Price</td>
                                        <td>@m.Quantity</td>
                                        <td>@m.Publisher.Name</td>
                                        <td>@m.BookType.TypeName</td>
                                        <td>@m.BookCondition.ConditionName</td>
                                        <td>
                                            @{ 
                                                var parm = new Dictionary<string, string>
                                           {

                                                {"Condition", m.BookCondition.ConditionName + ""}

                                           };
                                            }
                                            <button type="submit" name="BookId" value="@m.BookId" asp-controller="Inventory" asp-action="UpdateDetails" asp-all-route-data="parm" class="btn btn-outline-secondary rounded">Edit</button>

                                        </td>
                                    </tr>

                                }
                            </form>
</tbody>

                    </table>

                    <div class="clearfix"></div>


                </div>

            </div>
        </div>
    </div>

   } 

