@{

    var orders_genre = (Dictionary<string, int>)ViewData["orders_genre"];
    var orders_type = (Dictionary<string, int>)ViewData["orders_type"];
    var orders_publisher = (Dictionary<string, int>)ViewData["orders_publisher"];
    var orders_name = (Dictionary<string, int>)ViewData["orders_name"];


    var inventory_stats = (List<int>)ViewData["Inventory"];

    var total_titles = inventory_stats[0];
    var total_books = inventory_stats[1];
    var total_merchandise_value = inventory_stats[2];
    var genre_count = inventory_stats[3];
    var publisher_count = inventory_stats[4];
    var type_count = inventory_stats[5];
    var conditons_count = inventory_stats[6];

    var order_stats = (List<int>)ViewData["Orders"];
    var ordersplaced = order_stats[0];
    var delivered = order_stats[1];
    var enroute = order_stats[2];
    var pending = order_stats[3];
    var justplaced = order_stats[4];
    var total_books_sold = order_stats[4];
    var total_sales = order_stats[6];
}

@* <style>
        html {
            background-color: #000;
            margin: auto;
            padding: 0;
        }

        body {
            background-color: #201d3a;
            border-top: solid 90px #000;
            color: #7d3cff;
            font-size: 1.1em;
            font-family: Calibri, Verdana, Helvetica, Sans-Serif;
            margin: 0;
            padding: 0;
        }


        }
    </style>
*@
<!-- MAIN CONTENT-->
<div class="main-content" style="margin-left : 20% ; margin-right : 20%">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h1 class="title-1 text-center font-weight-light" style="margin-bottom: 45px; font-size: 300">Inventory Dashboard</h>
                    </div>
                </div>
            </div>
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="card bg-info text-white">
                            <div class="card-img-overlay" style="margin-top : 15px ; margin-bottom : 15px">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2 class="font-weight-bold  text-center">@total_titles</h2>
                                    <h1 class="font-weight-lighter  text-center">Titles</h1>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="card bg-info text-white">
                            <div class="card-img-overlay" style="margin-top: 15px; margin-bottom: 15px">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2 class="font-weight-bold  text-center">@total_books</h2>
                                    <h1 class="font-weight-lighter  text-center">Books</h1>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="card bg-info text-white">
                            <div class="card-img-overlay" style="margin-top: 15px; margin-bottom: 15px">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2 class="font-weight-bold  text-center">@publisher_count</h2>
                                    <h1 class="font-weight-lighter  text-center">Publishers</h1>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="card bg-info text-white">
                            <div class="card-img-overlay" style="margin-top: 15px;margin-bottom: 15px">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2 class="font-weight-bold  text-center">@type_count</h2>
                                    <h1 class="font-weight-lighter  text-center">Formats</h1>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                    <div class="row m-t-25" style="margin-top : 30px ">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="card bg-info text-white">
                                    <div class="card-img-overlay" style="margin-top : 30px">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2 class="font-weight-bold  text-center">@genre_count</h2>
                                            <h1 class="font-weight-lighter  text-center">Genres</h1>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="card bg-info text-white">
                                    <div class="card-img-overlay" style="margin-top : 30px">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2 class="font-weight-bold  text-center">@total_books_sold</h2>
                                            <h1 class="font-weight-lighter  text-center">Books Sold</h1>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="card bg-info text-white">
                                    <div class="card-img-overlay" style="margin-top : 30px">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2 class="font-weight-bold  text-center">$@total_sales</h2>
                                            <h1 class="font-weight-lighter  text-center">Sales</h1>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="card bg-info text-white">
                                    <div class="card-img-overlay" style="margin-top : 30px">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2 class="font-weight-bold  text-center">@ordersplaced</h2>
                                            <h1 class="font-weight-lighter  text-center">Orders </h1>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <div class="row m-t-25" style="margin-top : 30px ">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="overview-item overview-item--c1">
                                        <div class="card bg-info text-white">
                                            <div class="card-img-overlay" style="margin-top : 30px">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 class="font-weight-bold  text-center">@justplaced</h2>
                                                    <h1 class="font-weight-lighter  text-center">Just Placed </h1>
                                                </div>
                                            </div>
                                            <div class="overview-chart">
                                                <canvas id="widgetChart1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="overview-item overview-item--c1">
                                        <div class="card bg-info text-white">
                                            <div class="card-img-overlay" style="margin-top : 30px">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 class="font-weight-bold  text-center">@enroute</h2>
                                                    <h1 class="font-weight-lighter  text-center">Enroute</h1>
                                                </div>
                                            </div>
                                            <div class="overview-chart">
                                                <canvas id="widgetChart1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="overview-item overview-item--c1">
                                        <div class="card bg-info text-white">
                                            <div class="card-img-overlay" style="margin-top : 30px">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 class="font-weight-bold  text-center">@delivered</h2>
                                                    <h1 class="font-weight-lighter  text-center">Delivered</h1>
                                                </div>
                                            </div>
                                            <div class="overview-chart">
                                                <canvas id="widgetChart1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="overview-item overview-item--c1">
                                        <div class="card bg-info text-white">
                                            <div class="card-img-overlay" style="margin-top : 30px">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 class="font-weight-bold  text-center">@pending</h2>
                                                    <h1 class="font-weight-lighter  text-center">Pending</h1>
                                                </div>
                                            </div>
                                            <div class="overview-chart">
                                                <canvas id="widgetChart1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="section__content section__content--p30">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                    <div class="row m-t-25">
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="overview-item overview-item--c1">
                                                <div class="card bg-danger text-white" style="margin-top :30px ; margin-bottom : 30px">
                                                    <div class="card-img-overlay">
                                                        <div class="icon">
                                                            <i class="zmdi zmdi-account-o"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h2 class="font-weight-lighter  text-center">Top 5</h2>
                                                            <h1 class="font-weight-bold  text-center">Genres</h1>
                                                        </div>
                                                    </div>
                                                    <div class="overview-chart">
                                                        <canvas id="widgetChart1"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="overview-item overview-item--c1">
                                                <div class="card bg-success text-white" style="margin-top : 30px ; margin-bottom : 30px">
                                                    <div class="card-img-overlay">
                                                        <div class="icon">
                                                            <i class="zmdi zmdi-account-o"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h2 class="font-weight-lighter  text-center">Top 5</h2>
                                                            <h1 class="font-weight-bold  text-center">Publishers</h1>
                                                        </div>
                                                    </div>
                                                    <div class="overview-chart">
                                                        <canvas id="widgetChart1"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="overview-item overview-item--c1">
                                                <div class="card bg-primary text-white" style="margin-top : 30px ; margin-bottom : 30px">
                                                    <div class="card-img-overlay">
                                                        <div class="icon">
                                                            <i class="zmdi zmdi-account-o"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h2 class="font-weight-light  text-center">Top 5</h2>
                                                            <h1 class="font-weight-bold  text-center">Formats</h1>
                                                        </div>
                                                    </div>
                                                    <div class="overview-chart">
                                                        <canvas id="widgetChart1"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="overview-item overview-item--c1">
                                                <div class="card bg-warning text-white" style="margin-top : 30px ; margin-bottom : 30px">
                                                    <div class="card-img-overlay">
                                                        <div class="text">
                                                            <h2 class="font-weight-light  text-center">Top 5</h2>
                                                            <h1 class="font-weight-bold  text-center">Books</h1>
                                                        </div>
                                                    </div>
                                                    <div class="overview-chart">
                                                        <canvas id="widgetChart1"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-content">
                                            <div class="section__content section__content--p30">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                        </div>
                                                    </div>
                                                    <div class="row m-t-25">
                                                        <div class="col-sm-6 col-lg-3">
                                                            <div class="overview-item overview-item--c1">
                                                                <div class="card bg-danger text-white" style="margin-top: 85px;margin-bottom: 30px;height: 300px">
                                                                    <div class="card-img-overlay">
                                                                        <div class="icon">
                                                                            <i class="zmdi zmdi-account-o"></i>
                                                                        </div>
                                                                        <div class="text">
                                                                            <div class="table-hover">
                                                                                <table class="table table-top-countries">
                                                                                    <tbody>
                                                                                        @foreach (var i in orders_genre)
                                                                                        {
                                                                                            <tr>
                                                                                                <td class="text-white font-weight-bold">@i.Key</td>
                                                                                                <td class="text-right text-white font-weight-bold">@i.Value</td>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="overview-chart">
                                                                        <canvas id="widgetChart1"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-lg-3">
                                                            <div class="overview-item overview-item--c1">
                                                                <div class="card bg-success text-white" style="        margin-top: 85px;
        margin-bottom: 30px;
        height: 300px
">
                                                                    <div class="card-img-overlay">
                                                                        <div class="icon">
                                                                            <i class="zmdi zmdi-account-o"></i>
                                                                        </div>
                                                                        <div class="text">
                                                                            <div class="table-hover">
                                                                                <table class="table table-top-countries">
                                                                                    <tbody>
                                                                                        @foreach (var i in orders_publisher)
                                                                                        {
                                                                                            <tr>
                                                                                                <td class="text-white font-weight-bold">@i.Key</td>
                                                                                                <td class="text-right text-white font-weight-bold">@i.Value</td>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="overview-chart">
                                                                        <canvas id="widgetChart1"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-lg-3">
                                                            <div class="overview-item overview-item--c1">
                                                                <div class="card bg-primary text-white " style="margin-top: 85px;
        margin-bottom: 30px;
        height: 300px
">
                                                                    <div class="card-img-overlay">
                                                                        <div class="icon">
                                                                            <i class="zmdi zmdi-account-o"></i>
                                                                        </div>
                                                                        <div class="text">
                                                                            <div class="table-hover">
                                                                                <table class="table table-top-countries">
                                                                                    <tbody>
                                                                                        @foreach (var i in orders_type)
                                                                                        {
                                                                                            <tr>
                                                                                                <td class="text-white font-weight-bold">@i.Key</td>
                                                                                                <td class="text-right text-white font-weight-bold">@i.Value</td>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="overview-chart">
                                                                        <canvas id="widgetChart1"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-lg-3">
                                                            <div class="overview-item overview-item--c1">
                                                                <div class="card bg-warning text-white" style="margin-top : 85px ; margin-bottom : 30px ; height : 300px">
                                                                    <div class="card-img-overlay">
                                                                        <div class="text">
                                                                            <div class="table-hover">
                                                                                <table class="table table-top-countries">
                                                                                    <tbody>
                                                                                        @foreach (var i in orders_name)
                                                                                        {
                                                                                            <tr>
                                                                                                <td class="text-white font-weight-light font-weight-bold">@i.Key</td>
                                                                                                <td class="text-right text-white font-weight-bold ">@i.Value</td>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="overview-chart">
                                                                        <canvas id="widgetChart1"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
