@model BOBS_Backend.ViewModel.BooksViewModel
@{
    ViewData["Title"] = "Checkout";
    var types = (List<BOBS_Backend.Models.Book.Type>)ViewData["Types"];
    var publishers = (List<BOBS_Backend.Models.Book.Publisher>)ViewData["Publishers"];
    var genres = (List<BOBS_Backend.Models.Book.Genre>)ViewData["Genres"];
    var conditions = (List<BOBS_Backend.Models.Book.Condition>)ViewData["Conditions"];
    var errorstatus = (string)ViewData["ErrorStatus"];
    var error = (string)ViewData["Error"];

}



<div>
    <div>
        <div>
            <h1 class ="text-center"style="margin-top:35px">
                <span class="title-1 text-center font-weight-light"  style="margin-bottom: 45px; font-size: 400 ; font-family : 'Lucida Handwriting'">Fill in the book details</span>
            </h1>
            @if (errorstatus == "Yes")
            {
                <div>
                    <li> "Please re-upload the photos as they violate one or more of our content policies "</li>
                    <li>"1) Photo must be  of type .jpg or .png or .gif"</li>
                    <li>"2) Photo content must not contain profanity"</li>
                    <li>"3) Photo must be that of a book"</li>
                </div>

            }
        </div>
        <form enctype="multipart/form-data" asp-controller="Inventory" asp-action="EditBookDetails" method="post" style="padding-bottom: 0px;">
            <div asp-validation-summary="All"></div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="form-check-label text-secondary" asp-for="BookName">Book Name</label>
                    <input class="form-control bg-light text-dark" asp-for="BookName" required />
                </div>
                <div class="form-group">
                    <label class="form-check-label" asp-for="ISBN">ISBN</label>
                    <input class="form-control bg-light text-dark" asp-for="ISBN" required />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-check-label" asp-for="price">Price</label>
                                <input class="form-control bg-light text-dark" asp-for="price" required />
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-check-label" asp-for="quantity">Quantity</label>
                                <input class="form-control bg-light text-dark" asp-for="quantity" required />
                            </div>
                        </div>
                    </div>
                </div>      
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-check-label" asp-for="PublisherName">Publisher Name</label>
                                <select class="custom-select bg-light text-dark" asp-for="PublisherName">
                                    <option value="">Select the Publisher</option>
                                    @foreach (var publisher in publishers)
                                    {
                                        <option value="@publisher.Name">@publisher.Name</option>
                                    }
                                </select>
                                <a asp-action="AddPublishers" asp-controller="Inventory">Click here if you don't find the Publisher in the list above</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-check-label" asp-for="genre">Genre</label>
                                <select class="custom-select bg-light text-dark" asp-for="genre">
                                    <option value="">Select the Genre</option>
                                    @foreach (var genre in genres)
                                    {
                                        <option value="@genre.Name">@genre.Name</option>
                                    }
                                </select>
                                <a asp-action="AddGenres" asp-controller="Inventory">Click here if you don't find the Genre in the list above</a>
                            </div>
                        </div>             
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-check-label" asp-for="BookType">Book Type</label>
                                <select class="custom-select bg-light text-dark" asp-for="BookType">
                                    <option value="">Select the Book Type</option>
                                    @foreach (var type in types)
                                    {
                                        <option value="@type.TypeName">@type.TypeName</option>
                                    }

                                </select>
                                <a asp-action="AddBookTypes" asp-controller="Inventory">Click here if you don't find the BookType in the list above</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="form-check-label" asp-for="BookCondition">Book Condition</label>
                                <select class="custom-select bg-light text-dark" asp-for="BookCondition">
                                    <option value="">Select the Book Condition</option>
                                    @foreach (var condition in conditions)
                                    {
                                        <option value="@condition.ConditionName">@condition.ConditionName</option>
                                    }

                                </select>
                                <a asp-action="AddBookTypes" asp-controller="Inventory">Click here if you don't find the Condition in the list above</a>
                            </div>
                        </div>
                        
                    </div>
                </div>          
                <div class="form-group row">
                    <label asp-for="FrontPhoto" class="col-sm-2 col-form-label">Picture 1</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="FrontPhoto" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="BackPhoto" class="col-sm-2 col-form-label">Picture 2</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="BackPhoto" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LeftSidePhoto" class="col-sm-2 col-form-label">Picture 3</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="LeftSidePhoto" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="RightSidePhoto" class="col-sm-2 col-form-label">Picture 4</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="RightSidePhoto" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control bg-light text-dark" asp-for="Summary" placeholder=" Please enter the Book Summary / Description"></textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>




