@model Bookstore.Customer.ViewModel.Resale.ResaleIndexViewModel

@{ ViewData["Title"] = "Index"; }

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>log in</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/googlefont.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div>
    <div>
        <div>
            <h1>
                Sell Your Books
            </h1>
        </div>

        <div class="col-12 text-right">
            <form asp-controller="Resale" asp-action="Create" method="get">
                <button class="btn" name="id" type="submit">Resell Book</button>
            </form>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Book Name
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    Book Type
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Condition
                </th>
                <th>
                    Book Price
                </th>
                <th>
                    Status
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferStatus)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
