@model IEnumerable<Bookstore.Customer.ViewModel.CartViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <title>>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/googlefont.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link href="css/Line.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom-style.css">
    <script src="/js/cartitems.js" defer></script>
</head>

<body>
    <partial name="_Notification" />

    <p style="text-align: center">
        <h1>Cart</h1>
    </p>

    <div class="container">
        <ul class="time-horizontal">
            <li style="color:red"><b></b>Cart</li>
            <li>
                <p></p>Choose Address
            </li>
            <li>
                <p></p>Finish
            </li>
        </ul>
    </div>

    <div>
        <br />
        <br />
        <br />

        @foreach (var item in Model)
        {
            if (item.Quantity <= 5 && item.Quantity > 0)
            {
                <h4 style="color:red">There is only a few @Html.DisplayFor(modelitem => item.BookName) in the store</h4>
            }
            if (item.Quantity == 0)
            {
                <h4 style="color:red">@Html.DisplayFor(modelitem => item.BookName) is out of stock,please wait or remove it!</h4>
            }
        }
        <h4>Total price：$ <span id="totalprice">0</span></h4><br />

        <form method="post">
            @if (!User.Identity.IsAuthenticated)
            {
                <p>Please log in to complete your order.</p>
                <a class="btn" asp-action="Login" asp-controller="Authentication">Log In</a>
            }
            else
            {
                <a class="btn" asp-action="Index" asp-controller="Checkout">Check Out</a>
            }

            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@Html.DisplayFor(modelitem => item.Url)" onerror="this.onerror=null;this.src='/images/default_c.jpg';" style="max-width: 75px;max-height: 75px;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.BookName)
                            </td>
                            @if (item.Quantity != 0) //TODO Need to change this to Stock Level
                            {
                                <td>
                                    <input type="hidden" name="bookF" value="@Html.DisplayFor(modelitem => item.BookId)">
                                    <input type="hidden" name="priceF" value="@Html.DisplayFor(modelitem => item.PriceId)">
                                    <input type="hidden" name="prices" value="@Html.DisplayFor(modelitem => item.Prices)">
                                    <input type="hidden" name="IDs" value="@Html.DisplayFor(modelitem => item.CartItem_Id)">
                                    &nbsp;&nbsp;$@Html.DisplayFor(modelitem => item.Prices)
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            }
                            else
                            {
                                <td>
                                    <h4 style="color:red">This book is out of stock</h4>
                                </td>
                            }
                            <td>
                                <button type="button" class="nav-link" data-toggle="modal" data-target="#confirmDeleteModal" data-shoppingCartItemId="@item.CartItem_Id">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
    <br />

    <div id="confirmDeleteModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove Item?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove this item from your shopping cart?</p>
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <button id="confirmDeleteButton" type="submit" class="btn btn-primary" asp-action="Delete">Yes, Remove</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Don't Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            $(function () {

                $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                    var modal = $(this);
                    var formAction = modal.find('#confirmDeleteButton').attr("formaction");
                    var shoppingCartItemId = $(event.relatedTarget).data('shoppingcartitemid');

                    modal.find('#confirmDeleteButton').attr("formaction", formAction + "?shoppingCartItemId=" + shoppingCartItemId);
                });

            });
        </script>
    }
</body>