@{
    ViewData["Title"] = "Welcome Page";
}
<h1 class="text-md-center">Welcome @TempData["Username"]</h1>

<div class="container align-content-center">
    <div class=" container small">
        <button class="btn btn-sm btn-block btn-primary btn-outline-light" type="button">Add Inventory</button>
    </div>
    <div class=" container small">
        @Html.ActionLink("Manage Orders", "Index", "Orders", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class=" container small">
        @Html.ActionLink("Add Publishers", "AddPublishers", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class=" container small">
        @Html.ActionLink("Add Genres", "AddGenres", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class=" container small">
        @Html.ActionLink("Add BookTypes", "AddBookTypes", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class=" container small">
        @Html.ActionLink("Tester", "GetAllTypes", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class=" container small">
        @Html.ActionLink("Inventory", "EditBookDetails", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class="container small">
        <button class="btn btn-sm btn-block btn-primary btn-outline-light" type="button">Manage Inventory</button>
    </div>
</div>