@model BookstoreBackend.ViewModel.ManageOrders.PartialOrderViewModel;

<head>
    <link rel="stylesheet" href="/css/Orders/Partials/addressinfo.css"/>
</head>

<div class="card card-custom shadow">
    <div class="card-custom-header text-center website-text">
        @Resource.AddressInfoLabel
    </div>
    <ul class="list-group list-group-flush">
        <li class="card-custom-li-item  website-text">Address Line 1: @Model.Order.Address.AddressLine1</li>
        <li class="card-custom-li-item  website-text">City: @Model.Order.Address.City</li>
        <li class="card-custom-li-item  website-text">State: @Model.Order.Address.State</li>
        <li class="card-custom-li-item  website-text">Country: @Model.Order.Address.Country</li>
        <li class="card-custom-li-item card-custom-li-last-item website-text">Zip Code: @Model.Order.Address.ZipCode</li>
    </ul>
</div>