@model  BookstoreBackend.ViewModel.ManageOrders.PartialOrderViewModel;

<head>
    <link rel="stylesheet" href="/css/Orders/Partials/customerinfo.css"/>
</head>

<div class="card card-custom shadow">
    <div class="card-custom-header text-center website-text">
        @Resource.CustomerInfoLabel
    </div>
    <ul class="list-group list-group-flush">
        <li class="card-custom-li-item  website-text">@Resource.CustomerIdLabel: @Model.Order.Customer.Customer_Id</li>
        <li class="card-custom-li-item  website-text">@Resource.CustomerNameLabel: @Model.Order.Customer.FirstName @Model.Order.Customer.LastName</li>
        <li class="card-custom-li-item card-custom-li-last-item website-text">@Resource.EmailLabel: @Model.Order.Customer.Email</li>
    </ul>
</div>