@model BookstoreBackend.ViewModel.ManageOrders.ManageOrderViewModel;

<head>
    <link rel="stylesheet" href="/css/Orders/Partials/search.css"/>
</head>

<body>

@functions {

    public bool IsCheck(string value)
    {
        if (string.IsNullOrEmpty(Model.FilterValueText))
        {
            return false;
        }
        if (Model.FilterValueText.Contains(value))
        {
            return true;
        }
        return false;
    }

}

<div class="col-12">
    <form id="hello" class="input-group mb-3" asp-controller="Orders" asp-action="Index" method="get">

        <button class="filter-by-button text btn text-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            FilterBy
        </button>
        <input asp-for="FilterValue" type="text" style="width:0;padding:0;border:0" class="invisible" readonly="readonly" id="filterValueString"/>
        <input asp-for="FilterValueText" type="text" class="col-2 form-control text" readonly="readonly" id="idFilterValue" value="Filter By: @Model.FilterValueText"/>
        <input type="text" asp-for="SearchString" class="form-control text" aria-label="Text input with dropdown button">
        <button class="btn submit-button text text-white" type="submit">@Resource.SubmitButton</button>

    </form>
</div>

<div class="collapse" id="collapseExample" style="padding-left:1.5rem; width:100%">
    <div class="row" style="padding-left:1.5rem; margin-bottom:10px;">
        <a style="margin-right:.25rem" class=" filter-pill badge badge-pill text-white" data-toggle="collapse" data-target="#orderInfoCollapse" aria-expanded="false" aria-controls="orderInfoCollapse">
            @Resource.OrderInfoLabel
        </a>
        <a style="margin-right:.25rem" class="filter-pill badge badge-pill text-white" data-toggle="collapse" data-target="#customerInfoCollapse" aria-expanded="false" aria-controls="customerInfoCollapse">
            @Resource.CustomerInfoLabel
        </a>
        <a style="margin-right:.25rem" class="filter-pill badge badge-pill text-white" data-toggle="collapse" data-target="#addressInfoCollapse" aria-expanded="false" aria-controls="addressInfoCollapse">
            @Resource.AddressLabel
        </a>
        <a class="filter-pill badge badge-pill text-white" data-toggle="collapse" data-target="#orderStatusCollapse" aria-expanded="false" aria-controls="orderStatusCollapse">
            @Resource.OrdersStatusLabel
        </a>
    </div>

    @functions {

        public static Dictionary<string, string> GenerateFilterCategory(string filterText, string filterVal)
        {
            var filterCategory = new Dictionary<string, string>
            {
                { filterText, filterVal }
            };

            return filterCategory;
        }
    }

    @{
        var filterCategory = new Dictionary<string, string>
        {
            { "test1", "test" }
        };

        var test1 = " Order Id";
        var test2 = "Order_Id";
    }

    <div class="row collapse" id="orderInfoCollapse" style="padding-left:1.75rem">
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue('@test1', '@test2')" type="checkbox" id="inlineCheckbox1" checked="@IsCheck("Order Id")">
            <label class="form-check-label text" for="inlineCheckbox1">@Resource.OrderIdLabel</label>
        </div>
    </div>

    <div class="row collapse" id="orderStatusCollapse" style="padding-left:1.75rem">
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Status', 'OrderStatus.Status')" type="checkbox" id="inlineCheckbox3" checked="@IsCheck("Status")">
            <label class="form-check-label text" for="inlineCheckbox3">@Resource.StatusLabel</label>
        </div>
    </div>

    <div class="row collapse" id="addressInfoCollapse" style="padding-left:1.75rem">
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' City', 'Address.City')" type="checkbox" id="inlineCheckbox4" checked="@IsCheck("City")">
            <label class="form-check-label text" for="inlineCheckbox4">@Resource.CityLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' State', 'Address.State')" type="checkbox" id="inlineCheckbox5" checked="@IsCheck("State")">
            <label class="form-check-label text" for="inlineCheckbox5">@Resource.StateLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Zip Code', 'Address.ZipCode')" type="checkbox" id="inlineCheckbox6" checked="@IsCheck("Zip Code")">
            <label class="form-check-label text" for="inlineCheckbox6">@Resource.ZipCodeLabel</label>
        </div>
    </div>

    <div class="row collapse" id="customerInfoCollapse" style="padding-left:1.75rem">
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Customer Id', 'Customer.Customer_Id')" type="checkbox" id="inlineCheckbox2" checked="@IsCheck("Customer Id")">
            <label class="form-check-label text" for="inlineCheckbox2">@Resource.CustomerIdLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Username', 'Customer.Username')" type="checkbox" id="inlineCheckbox7" checked="@IsCheck("Username")">
            <label class="form-check-label text" for="inlineCheckbox7">@Resource.UsernameLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' First Name', 'Customer.FirstName')" type="checkbox" id="inlineCheckbox8" checked="@IsCheck("First Name")">
            <label class="form-check-label text" for="inlineCheckbox8">@Resource.FirstNameLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Last Name', 'Customer.LastName')" type="checkbox" id="inlineCheckbox9" checked="@IsCheck("Last Name")">
            <label class="form-check-label text" for="inlineCheckbox9">@Resource.LastNameLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Email', 'Customer.Email')" type="checkbox" id="inlineCheckbox10" checked="@IsCheck("Email")">
            <label class="form-check-label text" for="inlineCheckbox10">@Resource.EmailLabel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" onclick="updateFilterValue(' Phone', 'Customer.Phone')" type="checkbox" id="inlineCheckbox11" checked="@IsCheck("Phone")">
            <label class="form-check-label text" for="inlineCheckbox11">@Resource.PhoneLabel</label>
        </div>
    </div>
</div>

<div class="col-12" style="margin-top:15px;">

    @functions {

        public static Dictionary<string, string> retrievePill(string filterValue, string searchString)
        {
            var pill = new Dictionary<string, string>
            {
                { "filterValue", filterValue },
                { "filterValueText", " Status" },
                { "searchString", searchString }
            };

            return pill;
        }
    }

    @{
        var allOrdersPill = retrievePill("", "");

        var pendingPill = retrievePill(" OrderStatus.Status", "Pending");

        var enRoutePill = retrievePill(" OrderStatus.Status", "Route");


        var justPlaceddPill = retrievePill(" OrderStatus.Status", "Just Placed");

        var deliveredPill = retrievePill(" OrderStatus.Status", "Delivered");

        var cancelledPill = retrievePill(" OrderStatus.Status", "Cancelled");

    }

    <a asp-controller="Orders" asp-action="Index" asp-all-route-data="allOrdersPill" class=" filter-pill badge badge-pill text-white">@Resource.AllOrdersLabel</a>
    <a asp-controller="Orders" asp-action="Index" asp-all-route-data="justPlaceddPill" class="filter-pill badge badge-pill text-white">Just Placed</a>
    <a asp-controller="Orders" asp-action="Index" asp-all-route-data="pendingPill" class=" filter-pill badge badge-pill text-white">Pending</a>
    <a asp-controller="Orders" asp-action="Index" asp-all-route-data="enRoutePill" class="filter-pill badge badge-pill text-white">En Route</a>
    <a asp-controller="Orders" asp-action="Index" asp-all-route-data="deliveredPill" class="filter-pill badge badge-pill text-white">Delivered</a>
    <a asp-controller="Orders" asp-action="Index" asp-all-route-data="cancelledPill" class="filter-pill badge badge-pill text-white">Cancelled</a>
</div>

<script src="~/js/Orders/search.js" ></script>
</body>
