@model List<BOBS_Backend.Models.Order.Order>;

@{ 
    var orders = Model;
}
    <style>
        .filter-pill {
            padding: .6em;
        }
        .filter-pill-tag {
            padding: .6em;
            margin-top: -.375rem;
            margin-bottom: .5rem;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            margin-right:-1.25rem;
        }
    </style>
@if ((orders == null) || (!orders.Any()))
{
    <div class="text-center col-12">
        <h2>No Results Returned</h2>
        <p>It seems that no search results have been returned. Try changing your search query or the filter category</p>
    </div>
}
else
{
    @foreach (var order in orders)
    {

        var param = new Dictionary<string, string>
        {
            {"orderId",order.Order_Id + ""}
         };


        <div class="col-4" style="margin-top:20px;">
            <div style="border-radius:.65rem; height:18rem;" class="card">
                @{ 

                    string classStr = "";
                    if (order.OrderStatus.Status == "Pending") classStr = "filter-pill-tag badge badge-pill bg-danger text-white";
                    else if (order.OrderStatus.Status == "En Route") classStr = "filter-pill-tag badge badge-pill bg-warning text-white";
                    else if (order.OrderStatus.Status == "Delivered") classStr = "filter-pill-tag badge badge-pill bg-success text-white";
                    else if (order.OrderStatus.Status == "Just Placed") classStr = "filter-pill-tag badge badge-pill bg-secondary text-white";
                    else classStr = "filter-pill-tag badge badge-pill";
                }

                <div class="card-header" style="border-radius:.65rem .65rem 0 0;">Order Info</div>
                <div class="card-body">
                    <div style="padding-right:0; padding-left:0" class="col-12 d-flex justify-content-between">
                        <h6 class="card-subtitle mb-2 text-muted">Order ID: @order.Order_Id</h6>
                        <span class="@classStr">@order.OrderStatus.Status</span>
                    </div>
                    <p class="card-text">Customer ID: @order.Customer.Customer_Id</p>
                    <p class="card-text">Customer Name: @order.Customer.FirstName  @order.Customer.LastName</p>
                    <p class="card-text">Expected Delivery Date: @DateTime.Parse(order.DeliveryDate).ToString("MM/dd/yyyy")</p>
                    <a asp-controller="Orders" asp-action="ProcessOrders" asp-all-route-data="param">See More Details </a>
                </div>
            </div>
        </div>
    }
}
