@model AdminSite.ViewModel.FetchBooksViewModel

<h1 class="text-center mb-3">Book Details</h1>

<div class="row justify-content-center">
    <div class="col-4">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (var i = 0; i < Model.Images.Count; i++)
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@Model.Images[i]" alt="Slide @i">
                    </div>
                }
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="col-4">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Model.BookName</td>
                </tr>
                <tr>
                    <th scope="row">Author</th>
                    <td>@Model.Author</td>
                </tr>
                <tr>
                    <th scope="row">Genre</th>
                    <td>@Model.Genre</td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>@Model.Price.ToString("C")</td>
                </tr>
                <tr>
                    <th scope="row">ISBN</th>
                    <td>@Model.ISBN</td>
                </tr>
                <tr>
                    <th scope="row">Book Type</th>
                    <td>@Model.BookType</td>
                </tr>
                <tr>
                    <th scope="row">Condition</th>
                    <td>@Model.Condition</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>@Model.Summary</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>