@model IEnumerable<AdminSite.ViewModel.Inventory.InventoryIndexViewModel>

<div class="card m-3">
    <div class="card-body">
        <a class="btn btn-primary" asp-controller="Inventory" asp-action="Create">New Book</a>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Type</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="10" rowspan="4" style="text-align:center;">
                            <span>No Updates Currently</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var book in Model)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Name</td>
                            <td>@book.Author</td>
                            <td>@book.Publisher</td>
                            <td>@book.Genre</td>
                            <td>@book.BookType</td>
                            <td>@book.Condition</td>
                            <td>@book.Price.ToString("C")</td>
                            <td>@book.UpdatedOn.ToShortDateString()</td>
                            <td>
                                <div class="hstack gap-2">
                                    <a class="card-link" asp-controller="Inventory" asp-action="Details" asp-route-id="@book.Id">View</a>
                                    <div class="vr"></div>
                                    <a class="card-link" asp-controller="Inventory" asp-action="Update" asp-route-id="@book.Id">Update</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>