@model AdminSite.ViewModel.Inventory.InventoryIndexViewModel

<div class="card m-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" asp-controller="Inventory" asp-action="Create">New Book</a>
            </div>
            <div class="col d-flex justify-content-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link">Previous</a>
                        </li>

                        @foreach (var button in Model.PaginationButtons)
                        {
                            <li class="page-item @(Model.PageIndex == button ? "disabled" : "")"><a class="page-link" asp-action="Index" asp-route-pageIndex="@button">@button</a></li>
                        }

                        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Type</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count() == 0)
                {
                    <tr>
                        <td colspan="10" rowspan="4" style="text-align:center;">
                            <span>No Updates Currently</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var book in Model.Items)
                    {
                        <tr>
                            <td>@book.Name</td>
                            <td>@book.Author</td>
                            <td>@book.Publisher</td>
                            <td>@book.Genre</td>
                            <td>@book.BookType</td>
                            <td>@book.Condition</td>
                            <td>@book.Price.ToString("C")</td>
                            <td>@book.UpdatedOn.ToShortDateString()</td>
                            <td>
                                <div class="hstack gap-2">
                                    <a class="card-link" asp-controller="Inventory" asp-action="Details" asp-route-id="@book.Id">View</a>
                                    <div class="vr"></div>
                                    <a class="card-link" asp-controller="Inventory" asp-action="Update" asp-route-id="@book.Id">Update</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>