@using Bookstore.Domain.Books

@model AdminSite.ViewModel.SearchBooks.SearchBookViewModel
@{
    ViewData["Title"] = "Checkout";
    var types = (List<BookType>)ViewData["Types"];
    var publishers = (List<Publisher>)ViewData["Publishers"];
    var genres = (List<Genre>)ViewData["Genres"];
    var conditions = (List<Condition>)ViewData["Conditions"];
    var count = 0;
    var viewstyle = "";

    @if(Model!=null) {
    count = Model.Books.Count;
    viewstyle = Model.ViewStyle;
    }
}

<head>
    <link rel="stylesheet" href="/css/Inventory/searchbeta.css"/>
</head>

<div class="container">
    <div class="text-center">
        <h1 class="text-center" style="margin-top:35px">
            <span class="title-1 text-center font-weight-light" style="margin-bottom: 45px">Search Books</span>
        </h1>
    </div>
    <div class="row" style="margin:15px;">
        <div class="col-12">

            <form enctype="multipart/form-data" class="input-group mb-3" asp-controller="Inventory" asp-action="SearchBeta" method="get" style="padding-bottom: 0px;">
                <select class="main-text col-2 custom-select title-1 text-center font-weight-light " id="inputGroupSelect01" asp-for="SearchBy">
                    <option selected value="">Filter By</option>
                    <option value="Book.Name">Book Name</option>
                    <option value="Book.Publisher.Name">Publisher</option>
                    <option value="Book.Genre.Name">Genre</option>
                    <option value="Condition.ConditionName">Condition</option>
                    <option value="Book.Type.TypeName">Type</option>
                </select>
                <input id="tags" type="text" asp-page-handler="@Model.SearchBy" asp-for="SearchFilter" placeholder= "Please, enter the search query" class= "main-text form-control bg-light text-dark font-weight-light" aria-label= "Text input with dropdown button">
                @section Scripts{
                    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                    <script src="~/js/Inventory/searchbeta.js"></script>
                }
                <select class="main-text col-2 custom-select title-1 text-center font-weight-light " id="inputGroupSelect01" asp-for="ViewStyle">
                    <option value="Grid">Grid</option>
                    <option value="Tabular">Tabular</option>
                </select>
                <button class="main-text btn btn-outline-secondary title-1 text-center font-weight-light  " type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="main-text card-header  text-white text-uppercase text-center " style="background-color: #7D53DE">Best Selling Book</div>
                <div class="card-body">
                    <img class="img-fluid" src="" />
                    <h5 class="main-text card-title text-center">@ViewData["name"]</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="main-text card-header  text-white text-uppercase text-center " style="background-color: #7D53DE">Best Selling Publisher</div>
                <div class="card-body">
                    <img class="img-fluid" src="" />
                    <h5 class="main-text card-title text-center">@ViewData["publisher"]</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="main-text card-header  text-white text-uppercase text-center " style="background-color: #7D53DE">Best Selling Format</div>
                <div class="card-body">
                    <img class="img-fluid" src="" />
                    <h5 class="main-text card-title text-center">@ViewData["type"]</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="main-text card-header  text-white text-uppercase text-center " style="background-color: #7D53DE">Best Selling Genre</div>
                <div class="card-body">
                    <img class="img-fluid" src="" />
                    <h5 class="main-text card-title text-center">@ViewData["genre"]</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        @if (count != 0)
        {
            <div class="col">
                <div class="row">
                    @if (viewstyle == "Grid")
                    {
                        @foreach (var book in Model.Books)
                        {
                            var param = new Dictionary<string, string>
                            { 
                                { "BookId", $"{book.Price.Book.Id}" }
                            };

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                        @if(!String.IsNullOrEmpty(@book.Price.Book.FrontUrl))
                                        {
                                            <img class="card-img-top" src="@book.Price.Book.FrontUrl" alt="Card image cap"> 
                                        }
                                        else if (!String.IsNullOrEmpty(@book.Price.Book.BackUrl))
                                        {
                                            <img class="card-img-top" src="@book.Price.Book.BackUrl" alt="Card image cap">
                                        }
                                        else if (!String.IsNullOrEmpty(@book.Price.Book.LeftUrl))
                                        {
                                            <img class="card-img-top" src="@book.Price.Book.LeftUrl" alt="Card image cap">
                                        }
                                        else if (!String.IsNullOrEmpty(@book.Price.Book.RightUrl))
                                        {
                                            <img class="card-img-top" src="@book.Price.Book.RightUrl" alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img style="width:100%;height:100%" img-fluid src="https://dtdt6j0vhq1rq.cloudfront.net/default0Kind of New.jpg" alt="Ft slide">
                                        }
                                        <div class="main-text card-body">
                                            <h4 class="card-title text-center">
                                                <a asp-controller="Inventory" asp-action="BookDetails" asp-all-route-data="param" style="text-emphasis-color: #FC4A1A">@book.Price.Book.Name</a>
                                            </h4>
                                            <p class="main-text card-text text-center author">@book.Price.Book.Author</p>
                                        </div>
                                 </div>
                            </div>
                        }
                    }
                    else
                    {
                        //table-striped
                        var ascdesc = "asc";
                        if (!string.IsNullOrEmpty(Model.Ascdesc))
                            ascdesc = (Model.Ascdesc.Contains("asc")) ? "desc" : "asc";

                        <table id="mytable" class="table table-hover "> 
                            <thead>
                            <th>               
                                @{
                                    var sortBooksBy = new Dictionary<string, string>
                                    {
                                        {"searchfilter",Model.SearchFilter},
                                        {"searchby",Model.SearchBy},
                                        {"SortBy","Price.Book.Name"},
                                        {"pageNum",Model.CurrentPage+""},
                                        {"style",Model.ViewStyle},
                                        {"ascdesc",ascdesc}
                                    };
                                        <a class="main-text text font-weight-light" asp-controller="Inventory" asp-action="SearchBeta" asp-all-route-data="sortBooksBy">BookName @((ascdesc.Contains("asc")) ? "▼": "▲")</a>
                                }
                            </th>
                            <th>                                
                                @{
                                    var sortAuthorsBy = new Dictionary<string, string>
                                    {
                                        {"searchfilter",Model.SearchFilter},
                                        {"searchby",Model.SearchBy},
                                        {"SortBy","Price.Book.Author"},
                                        {"pageNum",Model.CurrentPage+""},
                                        {"style",Model.ViewStyle},
                                        {"ascdesc",ascdesc}
                                    };
                                        <a class="main-text text font-weight-light" asp-controller="Inventory" asp-action="SearchBeta" asp-all-route-data="sortAuthorsBy">Author @((ascdesc.Contains("asc")) ? "▼": "▲")</a>
                                }
                            </th>
                            <th>
                                @{
                                    var sortPricesBy = new Dictionary<string, string>
                                    {
                                        {"searchfilter",Model.SearchFilter},
                                        {"searchby",Model.SearchBy},
                                        {"SortBy","LowestPrice"},
                                        {"pageNum",Model.CurrentPage+""},
                                        {"style",Model.ViewStyle},
                                        {"ascdesc",ascdesc}
                                    };
                                        <a class="main-text text font-weight-light" asp-controller="Inventory" asp-action="SearchBeta" asp-all-route-data="sortPricesBy"> Price @((ascdesc.Contains("asc")) ? "▼": "▲")</a>
                                }
                            </th>
                            <th>                               
                                @{
                                    var sortQuantityBy = new Dictionary<string, string>
                                    {
                                        {"searchfilter",Model.SearchFilter},
                                        {"searchby",Model.SearchBy},
                                        {"SortBy","TotalQuantity"},
                                        {"pageNum",Model.CurrentPage+""},
                                        {"style",Model.ViewStyle},
                                        {"ascdesc",ascdesc}
                                    };
                                        <a class="main-text text font-weight-light" asp-controller="Inventory" asp-action="SearchBeta" asp-all-route-data="sortQuantityBy"> Quantity @((ascdesc.Contains("asc")) ? "▼": "▲")</a>
                                }
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var book in Model.Books)
                                {
                                    var param = new Dictionary<string, string>
                                    {
                                        { "BookId", $"{book.Price.Book.Id}" }
                                    };
                                    <tr>
                                        @{ 
                                            var price = (int)book.LowestPrice;
                                        }
                                        <td class="main-text">@book.Price.Book.Name</td>
                                        <td class="main-text">@book.Price.Book.Author</td>
                                        <td class="main-text">$@price</td>
                                        <td class="main-text">@book.TotalQuantity</td>
                                        <td>
                                            <a class="main-text" asp-controller="Inventory" asp-action="BookDetails" asp-all-route-data="param">View</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        }
        else
        {
            <h3 class="text-center font-weight-light text-primary">Sorry, could not find any relevant books. Try again!</h3>
        }
    </div>
</div>
<div class="row d-flex justify-content-lg-center">
    <div class="row d-flex justify-content-center" style="margin-top:35px;">
        <partial name="./Partials/_Pagination" model="Model" />
    </div>
</div>
