@model Bookstore.Customer.ViewModel.BookViewModel

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/googlefont.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

@if (Model == null)
{
    <h3>Book not found.</h3>
}
else
{
    <h1>@Html.DisplayFor(modelitem => Model.BookName)</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="media">
                    <img class="mr-3" src="@Html.DisplayFor(modelitem => Model.Url)" onerror="this.onerror=null;this.src='/images/default_c.jpg';" style="width: 135px;height: 200px;" />
                    <div class="media-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">Title</th>
                                    <td>@Html.DisplayFor(modelitem => Model.BookName)</td>
                                </tr>
                                <tr>
                                    <th scope="col">Author</th>
                                    <td>@Html.DisplayFor(modelitem => Model.Author)</td>
                                </tr>
                                <tr>
                                    <th scope="col">Publisher</th>
                                    <td>@Html.DisplayFor(modelitem => Model.PublisherName)</td>
                                </tr>
                                <tr>
                                    <th scope="col">Genre</th>
                                    <td>@Html.DisplayFor(modelitem => Model.GenreName)</td>
                                </tr>
                                <tr>
                                    <th scope="col">Condition</th>
                                    <td>@Html.DisplayFor(modelitem => Model.ConditionName)</td>
                                </tr>
                                <tr>
                                    <th scope="col">Price</th>
                                    <td>@Html.DisplayFor(modelitem => Model.MinPrice)</td>
                                </tr>
                                @if (string.IsNullOrEmpty(Model.Summary))
                                {
                                    <tr>
                                        <th scope="col">Description</th>
                                        <td>No description found.</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th scope="col">Description</th>
                                        <td>@Html.DisplayFor(modelitem => Model.Summary)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn" asp-action="AddItemToShoppingCart" asp-route-bookid="@Model.BookId">Add to cart</a>
                <input type="submit" class="btn" value="Add to WishList" />
            </div>
        </div>
    </div>
}