@using BookstoreBackend.ViewModel.ManageInventory
@model BookstoreBackend.ViewModel.FetchBooksViewModel

@{
    var types = (List<string>)ViewData["Types"];
    var status = (string)ViewData["status"];
    var conditions = (List<string>)ViewData["Conditions"];

    var Genre = Model.Genre.ToUpper();
    var books = (IEnumerable<BookDetailsViewModel>)ViewData["Books"];

    var Author = Model.Author.ToUpper();
    var BookName = Model.BookName.ToUpper();
    var fetch_status = (string)ViewData["fetchstatus"];
}

<head>
    <link rel="stylesheet" href="/css/Inventory/bookdetails.css"/>
</head>

<div class="overview-wrap">
    <h1 class="title-1 text-center font-weight-light" style="margin-bottom: 45px;">Book Details</h1>
</div>
<!-- Page Content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        @if (string.IsNullOrEmpty(Model.FrontUrl))
                        {
                            <img class="img-thumbnail" style="width:100%;height:100%" src="https://dtdt6j0vhq1rq.cloudfront.net/default0Kind of New.jpg" alt="Ft slide">
                        }
                        else
                        {
                            <img class="img-thumbnail" style="width:100%;height:100%" src="@Model.FrontUrl" alt="First slide">
                        }
                    </div>
                    <div class="carousel-item">
                        @if (string.IsNullOrEmpty(Model.BackUrl))
                        {
                            <img class="img-thumbnail" style="width:100%;height:100%" src="https://dtdt6j0vhq1rq.cloudfront.net/default0Kind of New.jpg" alt="Second slide">
                        }
                        else
                        {
                            <img class="img-thumbnail" style="width:100%;height:100%" src="@Model.BackUrl" alt="Second slide">
                        }
                    </div>
                    <div class="carousel-item">

                        @if (string.IsNullOrEmpty(Model.LeftUrl))
                        {
                            <img class="img-thumbnail" style="width:100%;height:100%" src="https://dtdt6j0vhq1rq.cloudfront.net/default0Kind of New.jpg" alt="Third slide">
                        }
                        else
                        {
                            <img class="img-thumbnail" style="width:100%;height:100%" src="@Model.LeftUrl" alt="Third slide">
                        }
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="main-text sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="main-text sr-only">Next</span>
            </a>
            @if (!string.IsNullOrEmpty(fetch_status))
            {
                <h4 class="main text font-weight-light" style="margin-top:10% ;margin-left:5%">@fetch_status</h4>
            }
        </div>
        <div class="col-lg-6">

            <div class="row justify-content-center">
                <div class="col">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE;width: 90%;margin-top: 4%;font-size: 1rem">BOOK NAME</button>
                </div>
                <div class="col">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE;width: 90%;margin-top: 4%;margin-left: 25%;font-size: 1rem">@BookName</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE;width: 90%;margin-top: 4%;font-size: 1rem">GENRE</button>
                </div>
                <div class="col">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE; width: 90%; margin-left: 25%; margin-top: 4%; font-size: 1rem">@Genre</button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE;width: 90%;margin-top: 4%;font-size: 1rem">AUTHOR</button>
                </div>
                <div class="col">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE;width: 90%;margin-top: 4%;margin-left: 25%;font-size: 1rem">@Author</button>
                </div>
            </div>

            <p class="main-text" style="margin-left:12%;margin-top:3%">
                @Model.Summary
            </p>

            @{
                var param = new Dictionary<string, string>
                {
                    { "BookName", $"{Model.BookName}" },
                    { "type", $"{Model.Type}" },
                    { "condition_chosen", $"{Model.Condition}" }
                };
            }
            <form asp-controller="Inventory" asp-action="BookDetails" asp-all-route-data="param" style="padding-bottom: 0px;" method="post">
                <div class="row justify-content-center">
                    <div class="col">
                        <select class="main-text custom-select bg-light text-dark" asp-for="Type" style="margin-top: 3%; margin-bottom: 2%;width: 90%">
                            <option value="">Select the Format</option>
                            @foreach (var type in types)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <select class="main-text custom-select bg-light text-dark" asp-for="ConditionChosen" style="margin-top: 3%; margin-bottom: 2%; margin-left: 25%; width: 90%">
                            <option value="">Select the Condition</option>
                            @foreach (var condition in conditions)
                            {
                                <option value="@condition">@condition</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="main-text btn  btn-lg text-white text-center" style="background-color: #7D53DE;width: 40%;margin-top: 4%;font-size: 1rem">Show Book List</button>
                </div>
            </form>
            <form method="get">
                <div class="text-center">
                    <button name="BookName" value="@Model.BookName" asp-controller="Inventory" asp-action="EditBookDetails" type="submit" class="main-text btn btn-lg text-center text-white" style=" background-color: #7D53DE; width: 33%; margin-top: 4%; font-size: 1rem "><span class="glyphicon glyphicon-ok-sign"></span>Add Book Variant</button>
                    @*   <h3 class="my-3 text-center">@Model.BookName</h3> *@
                </div>
            </form>
        </div>
    </div>
</div>

@if (status == "List" && books != null)
{
    <hr class="mt-2 mb-5">
    <div class="container">
        <div class="row" style="margin-left:2%">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Publisher</th>
                        <th>Type</th>
                        <th>Condition</th>
                        <th>Edit</th>
                        </thead>
                        <tbody>
                        <form method="post" style="padding-bottom: 0px;">
                            @foreach (var m in books)
                            {
                                <tr>
                                    <td>@m.Price</td>
                                    <td>@m.Quantity</td>
                                    <td>@m.Publisher.Name</td>
                                    <td>@m.BookType.TypeName</td>
                                    <td>@m.BookCondition.ConditionName</td>
                                    <td>
                                        @{
                                            var parm = new Dictionary<string, string>
                                            {
                                                { "Condition", $"{m.BookCondition.ConditionName}" }
                                            };
                                        }
                                        <button type="submit" name="BookId" value="@m.BookId" asp-controller="Inventory" asp-action="UpdateDetails" asp-all-route-data="parm" class="btn btn-outline-secondary rounded">Edit</button>
                                    </td>
                                </tr>
                            }
                        </form>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}