@model BookstoreBackend.ViewModel.ManageInventory.BooksViewModel
@{
    ViewData["Title"] = "Checkout";
    var types = (List<BobsBookstore.Models.Books.Type>)ViewData["Types"];
    var publishers = (List<BobsBookstore.Models.Books.Publisher>)ViewData["Publishers"];
    var genres = (List<BobsBookstore.Models.Books.Genre>)ViewData["Genres"];
    var conditions = (List<BobsBookstore.Models.Books.Condition>)ViewData["Conditions"];
    var errorstatus = (string)ViewData["ErrorStatus"];
    var error = (string)ViewData["Error"];
    var adding_varint = (string)ViewData["Book"];
    var BookNamePlaceHolder = "BOOK NAME";
    var AuthorPlaceHolder = "AUTHOR";
    var ISBNPlaceHolder = "ISBN";
    var SummaryPlaceHolder = "DESCRIPTION";
    var pageHeader = "ADDING BOOK TO INVENTORY";
    var check = (string)ViewData["check"];

}


@if (!string.IsNullOrEmpty(adding_varint))
{
    BookNamePlaceHolder = (string)ViewData["Book"];
    BookNamePlaceHolder = BookNamePlaceHolder.ToUpper();
    AuthorPlaceHolder = (string)ViewData["Author"];
    AuthorPlaceHolder = AuthorPlaceHolder.ToUpper();
    ISBNPlaceHolder = (string)ViewData["ISBN"].ToString();
    SummaryPlaceHolder = (string)ViewData["Summary"];
    pageHeader = "ADD NEW VARIANT OF THE BOOK";


}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center font-weight-light modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <li class="main-text"> "Please re-upload the photos as they violate one or more of our content policies "</li>
                    <li class="main-text">"1) Photo must be  of type .jpg or .png or .gif"</li>
                    <li class="main-text">"2) Photo content must not contain profanity"</li>
                    <li class="main-text">"3) Photo must be that of a book"</li>
                </div>
            </div>
            <div class="modal-footer">
                <button style="margin-left:5%" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


@if (errorstatus == "Yes")
{
    <script type="text/javascript">

        $(
            function () {
                $('#exampleModal').modal('show');

            });


    </script>

}
<body class="form-v4">
    <div class="page-content" style="margin-left : 20% ; margin-right : 20%">
        <div class="form-v4-content">

            <div class="form-left">
                <div class="overview-wrap">
                    <h1 class="title-1 text-center font-weight-light" style="margin-bottom: 45px;">@pageHeader</h>
                </div>              
            </div>
            @{var param = new Dictionary<string, string>
                                {
                    {"Author", AuthorPlaceHolder},
                    {"ISBN",ISBNPlaceHolder },
                    {"Summary", SummaryPlaceHolder}

                    };
            }
            <form class="form-detail" enctype="multipart/form-data" asp-controller="Inventory" asp-action="EditBookDetails" asp-all-route-data="param" method="post" style="padding-bottom: 0px;">
                <div asp-validation-summary="All"></div>

                <div class="panel-body">
                    <div class="container" style="margin-bottom:2%">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row-sm-12">
                                    @if (BookNamePlaceHolder == "BOOK NAME")
                                    {
                                        <input class="main-text form-control bg-light text-dark" asp-for="BookName" placeholder="@BookNamePlaceHolder" required />

                                    }
                                    else
                                    {
                                        <input class="main-text form-control bg-light text-dark" asp-for="BookName" readonly placeholder="@BookNamePlaceHolder" required />
                                    }
                                </div>
                                <div class="row-sm-12">
                                    @if (AuthorPlaceHolder == "AUTHOR")
                                    {
                                        <input class="main-text form-control bg-light text-dark" asp-for="Author" placeholder="@AuthorPlaceHolder" required />
                                    }
                                    else
                                    {
                                        <input class="main-text form-control bg-light text-dark" asp-for="Author" readonly placeholder="@AuthorPlaceHolder" required />

                                    }
                                </div>
                                <div class="row-sm-12">

                                    <input class="main-text form-control bg-light text-dark" asp-for="ISBN" placeholder="@ISBNPlaceHolder" required />
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="main-text form-control bg-light text-dark" asp-for="price" placeholder="PRICE" required />
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="main-text form-control bg-light text-dark" asp-for="Quantity" placeholder="QUANTITY" required />
                                    </div>
                                </div>
                                <div class="row-sm-12" style="margin-top:2.5%;height:25%">
                                    <textarea class="main-text form-control bg-light text-dark" asp-for="Summary" style="height:100%" placeholder="@SummaryPlaceHolder"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row-sm-6">
                                    <div class="form-group">
                                        <select class="main-text custom-select bg-light text-dark" required asp-for="PublisherName">
                                            <option value="">Select the Publisher</option>
                                            @foreach (var publisher in publishers)
                                            {
                                                <option value="@publisher.Name">@publisher.Name</option>
                                            }
                                        </select>
                                        <a class="main-text text-center" asp-action="AddPublishers" asp-controller="Inventory">Don't Find in the List ? Add New Publisher</a>
                                    </div>
                                </div>
                                <div class="row-sm-6">
                                    <div class="form-group">
                                        <select class="main-text custom-select bg-light text-dark" required asp-for="Genre">
                                            <option value="">Select the Genre</option>
                                            @foreach (var genre in genres)
                                            {
                                                <option value="@genre.Name">@genre.Name</option>
                                            }
                                        </select>
                                        <a class="main-text text-center" asp-action="AddGenres" asp-controller="Inventory">Don't Find in the List ? Add New Genre</a>
                                    </div>
                                </div>
                                <div class="row-sm-6">
                                    <div class="form-group">
                                        <select class="main-text custom-select bg-light text-dark" required asp-for="BookType">
                                            <option value="">Select the Book Type</option>
                                            @foreach (var type in types)
                                            {
                                                <option value="@type.TypeName">@type.TypeName</option>
                                            }

                                        </select>
                                        <a class="main-text text-center" asp-action="AddBookTypes" asp-controller="Inventory">Don't Find in the List ? Add New BookType</a>
                                    </div>
                                </div>
                                <div class="row-sm-6">
                                    <div class="form-group">
                                        <select class="main-text custom-select bg-light text-dark" required asp-for="BookCondition">
                                            <option value="">Select the Book Condition</option>
                                            @foreach (var condition in conditions)
                                            {
                                                <option value="@condition.ConditionName">@condition.ConditionName</option>
                                            }

                                        </select>
                                        <a class="main-text text-center" asp-action="AddBookConditions" asp-controller="Inventory">Don't Find in the List ? Add New Condition</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-2 mb-5">
                        <div class="form-group row">
                            <label asp-for="FrontPhoto" class="main-text col-sm-2 col-form-label">FRONT PICTURE</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="FrontPhoto" class="main-text form-control custom-file-input">
                                    <label class="main-text custom-file-label">Choose File...</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="BackPhoto" class="main-text col-sm-2 col-form-label">BACK PICTURE</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="BackPhoto" class="main-text form-control custom-file-input">
                                    <label class="main-text custom-file-label">Choose File...</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="LeftSidePhoto" class="main-text col-sm-2 col-form-label">LEFT PICTURE</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="LeftSidePhoto" class="main-text form-control custom-file-input">
                                    <label class="main-text custom-file-label">Choose File...</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="RightSidePhoto" class="main-text col-sm-2 col-form-label">RIGHT PICTURE</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="RightSidePhoto" class="main-text form-control custom-file-input">
                                    <label class="main-text custom-file-label">Choose File...</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="main-text btn text-white font-weight-bold" style="width:20% ;background-color: #7D53DE" type="submit">SUBMIT</button>
                        </div>
                    </div>
                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    console.log('Clicked')
                                    var fileName = $(this).val().split("\\").pop();
                                    console.log('Clicked')
                                    $(this).next('.custom-file-label').html(fileName);
                                });
                            });
                        </script>
                    }
            </form>

        </div>
    </div>
</body>

<style>
    .form-detail input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        // background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border-color: #7D53DE;
        border-radius: 1rem;
        border: 2px solid #7D53DE
    }

    .form-detail textarea {
        border: 2px solid #7D53DE
    }

    .form-detail select {
        border-radius: 1rem;
        border: 2px solid #7D53DE
    }

    .form-detail.custom-file {
        border: 2px solid #7D53DE
    }

    .form-detail a {
        color: #7D53DE
    }

    .form-detail.btn {
        border-radius: 1rem;
    }

    .form-detail.custom-file-input label {
        border: 2px solid #7D53DE
    }

    .custom-file-input {
        color: #7D53DE
    }

    .main-text {
        font-family: 'Arvo', serif
    }
</style>

