@using Bookstore.Domain
@using Bookstore.Domain.Offers

@model Bookstore.Admin.ViewModel.Offers.OfferIndexViewModel

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex m-3">
    <h5 class="me-auto">Offers</h5>
</div>

<div class="card m-3">
    <div class="card-header">
        <div class="d-flex justify-content-end">
            @await Html.PartialAsync("_Paginator", Model)
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">Customer</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Offer date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var offer in Model.Items)
            {
                <tr>
                    <td>@offer.CustomerName</td>
                    <td>@offer.BookName</td>
                    <td>@offer.Author</td>
                    <td>@offer.GenreName</td>
                    <td>@offer.BookCondition</td>
                    <td>@offer.OfferPrice.ToString("C")</td>
                    <td>@offer.OfferDate.ToShortDateString()</td>
                    <td>@offer.OfferStatus.GetDescription()</td>
                    <td>
                        <form method="post">
                            @switch (offer.OfferStatus)
                            {
                                case OfferStatus.PendingApproval:
                                    <div class="hstack gap-2">
                                        <button type="submit" class="btn btn-link p-0" asp-controller="Offers" asp-action="Approve" asp-route-id="@offer.OfferId">Approve</button>
                                        <div class="vr"></div>
                                        <button type="submit" class="btn btn-link p-0" asp-controller="Offers" asp-action="Reject" asp-route-id="@offer.OfferId">Reject</button>
                                    </div>

                                    break;

                                case OfferStatus.Approved:
                                    <button type="submit" class="btn btn-link p-0" asp-controller="Offers" asp-action="Received" asp-route-id="@offer.OfferId">Confirm Shipment</button>

                                    break;

                                case OfferStatus.Received:
                                    <button class="btn btn-link p-0" asp-controller="Offers" asp-action="Paid" asp-route-id="@offer.OfferId">Make Payment</button>

                                    break;
                            }
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end">
            @await Html.PartialAsync("_Paginator", Model)
        </div>
    </div>
</div>