@model BobBookstore.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order: #@Model.Order_Id</h1>

<div class="container mt-1">
    <h3>Status: @Model.Status</h3>
     
    @if (String.IsNullOrEmpty(Model.DeliveryDate))
    {
        <h5>Delivery Date: Unknown</h5>
    } else
    {
    <h5>Delivery Date: @Model.DeliveryDate</h5>
    }
    <h5>Total cost: $@Model.Subtotal</h5>
</div>
<div class="container mt-5">
    <h2>Your Order:</h2>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>
                        <a asp-controller="Search" asp-action="Detail" asp-route-id="@book.Book_Id">
                            @book.Bookname
                        </a>
                    </td>
                    <td>@book.quantity</td>
                    <td>$@book.price</td>
                </tr>
            }
        </tbody>

    </table>
</div>
