@model IEnumerable<BobBookstore.Models.ViewModels.CartViewModel>
@using Microsoft.AspNetCore.Identity
@using Amazon.Extensions.CognitoAuthentication

@inject SignInManager<CognitoUser> SignInManager
@inject UserManager<CognitoUser> UserManager
@*@model Tuple<IEnumerable<BobBookstore.Models.Carts.CartItem>, BobBookstore.Models.Book.Book>*@

@{
    ViewData["Title"] = "Index";
}

    <head>
        <meta charset="UTF-8">
        <title>>Book Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#03a6f3">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://dtdt6j0vhq1rq.cloudfront.net/owl.carousel.min.css">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/styles.css">
        <link href="css/Line.css" rel="stylesheet">
    </head>
    <body>
        <p style="text-align: center"><h1>Cart</h1></p>

        <div class="container">

            <ul class="time-horizontal">
                <li style="color:red"><b></b>Cart</li>
                <li><p></p>Choose Address</li>
                <li><p></p>Finish</li>

            </ul>
        </div>
        
        <div>
            <br />
            <br />
            <br />

            @foreach (var item in Model)
            {
                if (item.quantity <= 5 && item.quantity > 0)
                {
                    <h4 style="color:red">There is only a few @Html.DisplayFor(modelitem => item.BookName) in the store</h4>
                }
                if (item.quantity == 0)
                {
                    <h4 style="color:red">@Html.DisplayFor(modelitem => item.BookName) is out of stock,please wait or remove it!</h4>
                }
            }
            <h3>Total price：$ <span id="totalprice">0</span></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Cover
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.BookName)
                        </th>
                        <th>
                            &nbsp;@Html.DisplayNameFor(Model => Model.Prices) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (Html.BeginForm(new { action = "CheckOut" }))
                    {
                        @foreach (var item in Model)
                        {


                            <tr>
                                <td>
                                    <img src="@Html.DisplayFor(modelitem => item.Url)" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.BookName)
                                </td>
                                @if (item.quantity != 0)
                                {
                                    <td>
                                        <input type="hidden" name="bookF" value="@Html.DisplayFor(modelitem => item.BookId)">
                                        <input type="hidden" name="priceF" value="@Html.DisplayFor(modelitem => item.PriceId)">
                                        <input type="hidden" name="fruits" value="@Html.DisplayFor(modelitem => item.Prices)">
                                        <input type="hidden" name="IDs" value="@Html.DisplayFor(modelitem => item.CartItem_Id)">
                                        &nbsp;&nbsp;$@Html.DisplayFor(modelitem => item.Prices)
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="number" name="quantity" min="1" max="@Html.DisplayFor(modelitem => item.quantity)" value="1" id="quantity" class="numbers"><br />

                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <h4 style="color:red">This book is out of stock</h4>
                                    </td>
                                }
                                <td>

                                    <a asp-action="Delete" asp-route-id="@item.CartItem_Id">Remove</a>
                                </td>
                            </tr>

                        }

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <input type="submit" value="checkout" style="background-color: #0b71ca ;color: #FFFFFF" />
                        }
                        else
                        {
                            <h5 style="color:#ff0000">Log in to check out!<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a></h5>
                        }
                    }

                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <script>
            var fruits = document.getElementsByName('fruits');
            var numbers = document.getElementsByClassName("numbers");
            var totalprice = 0;
            for (var i = 0; i < fruits.length; i++) {

                var number = numbers[i].value;
                totalprice += fruits[i].value * number;

            }
            document.getElementById('totalprice').innerHTML = totalprice;

            for (var i = 0; i < numbers.length; i++) {
                numbers[i].onclick = count;
            }
            function count() {
                var totalprice = 0;
                for (var i = 0; i < fruits.length; i++) {

                    var number = numbers[i].value;
                    totalprice += fruits[i].value * number;

                }
                document.getElementById('totalprice').innerHTML = totalprice;
            }


        </script>

    </body>
