@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BobBookstore.Models.ViewModels.CartViewModel>
@*@model Tuple<IEnumerable<BobBookstore.Models.Carts.CartItem>, BobBookstore.Models.Book.Book>*@

@{
    ViewData["Title"] = "WishListIndex";
}

    <head>
        <meta charset="UTF-8">
        <title>>Book Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#03a6f3">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://dtdt6j0vhq1rq.cloudfront.net/owl.carousel.min.css">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/styles.css">
        <style>
            .time-horizontal {
                list-style-type: none;
                border-top: 4px solid #2282ca;
                max-width: 600px;
                padding: 2px;
                margin: 0px;
            }

                .time-horizontal li {
                    float: left;
                    position: relative;
                    text-align: center;
                    width: 33%;
                    padding-top: 10px;
                }

                    .time-horizontal li b:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: 47%;
                        width: 18px;
                        height: 18px;
                        border: 2px solid #2282ca;
                        border-radius: 8px;
                        background: #ff0000
                    }

                    .time-horizontal li p:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: 47%;
                        width: 18px;
                        height: 18px;
                        border: 2px solid #2282ca;
                        border-radius: 8px;
                        background: #110fe5
                    }

        </style>
    </head>

    <body>
        <h1>Wish List</h1>

        
        @*<h3>Total price：$ <span id="totalprice">0</span></h3>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Cover
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => Model.BookName)
                    </th>
                    <th>
                        <input type="checkbox" name="selectall" value="choose" onclick="selectall();count()" />choose all &nbsp;@Html.DisplayNameFor(Model => Model.Prices)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (Html.BeginForm(new { action = "AllMoveToCart" }))
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@Html.DisplayFor(modelitem => item.Url)" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.BookName)
                            </td>

                            <td>

                                <input type="checkbox" name="fruits" value="@Html.DisplayFor(modelitem => item.CartItem_Id)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(modelitem => item.Prices)&nbsp;&nbsp;
                            </td>

                            <td>

                                <a asp-action="Delete" asp-route-id="@item.CartItem_Id">Remove</a>
                            </td>
                            <td>

                                <a asp-action="MoveToCart" asp-route-id="@item.CartItem_Id">Move to cart</a>
                            </td>
                        </tr>
                    }
                    <input type="submit" value="Move to cart" />
                }
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />



        <script>
            var fruits = document.getElementsByName('fruits');
            var numbers = document.getElementsByClassName("numbers");

            var list = new Array();
            for (var i = 0; i < fruits.length; i++) {
                fruits[i].onclick = count;
            }
            for (var i = 0; i < numbers.length; i++) {
                numbers[i].onclick = count;
            }
            function count() {
                var totalprice = 0;
                for (var i = 0; i < fruits.length; i++) {
                    if (fruits[i].checked) {
                        var number = fruits[i].nextSibling.nextSibling.value;
                        totalprice += parseFloat(fruits[i].value) * number;
                    }
                }
                document.getElementById('totalprice').innerHTML = totalprice;
            }
            function selectall() {
                var sports = document.getElementsByName("fruits");
                for (i = 0; i < sports.length; i++) {
                    var sportname = sports[i];
                    if (sportname.checked == true) {
                        sportname.checked = false

                    }
                    else { sportname.checked = true; }

                }
            }

        </script>
    </body>
