@using Bookstore.Domain.Offers;
@using Bookstore.Domain;

@model Bookstore.Web.Areas.Admin.Models.Offers.OfferIndexViewModel

@{ ViewData["Title"] = "Offers"; }

@await Html.PartialAsync("_MessageBanner")

<div class="d-flex m-3">
    <h5 class="me-auto">Offers</h5>
</div>

<div class="card mx-3">
    <div class="card-body">
        <form class="row row-cols-lg-auto g-3 align-items-center" method="get">
            <div class="col-12">
                <label class="visually-hidden" for="NameFilterInput">Book name</label>
                <input id="NameFilterInput" type="text" class="form-control" asp-for="Filters.BookName" placeholder="Book name" />
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="AuthorFilterInput">Author</label>
                <input id="AuthorFilterInput" type="text" class="form-control" asp-for="Filters.Author" placeholder="Author" />
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="GenreFilter">Genre</label>
                <select id="GenreFilter" class="form-select" asp-for="Filters.GenreId" asp-items="Model.Genres">
                    <option value="">All Genres</option>
                </select>
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="ConditionFilter">Condition</label>
                <select id="ConditionFilter" class="form-select" asp-for="Filters.ConditionId" asp-items="Model.BookConditions">
                    <option value="">All Book Conditions</option>
                </select>
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="OfferStatusSelect">Offer status</label>
                <select id="OfferStatusSelect" class="form-select" asp-for="Filters.OfferStatus" asp-items="Html.GetEnumSelectList<OfferStatus>()">
                    <option value="">All Offer Statuses</option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>

            <div class="col-12">
                <a class="btn btn-secondary" asp-action="Index">Clear</a>
            </div>
        </form>
    </div>
</div>

<div class="card m-3">
    <div class="card-header">
        <div class="d-flex justify-content-end">
            @await Html.PartialAsync("_Paginator", Model)
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">Customer</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Offer date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var offer in Model.Items)
            {
                <tr>
                    <td>@offer.CustomerName</td>
                    <td>@offer.BookName</td>
                    <td>@offer.Author</td>
                    <td>@offer.Genre</td>
                    <td>@offer.Condition</td>
                    <td>@offer.OfferPrice.ToString("C")</td>
                    <td>@offer.OfferDate.ToShortDateString()</td>
                    <td>@offer.OfferStatus.GetDescription()</td>
                    <td>
                        <form method="post">
                            @switch (offer.OfferStatus)
                            {
                                case OfferStatus.PendingApproval:
                                    <div class="hstack gap-2">
                                        <button type="submit" class="btn btn-link p-0" asp-controller="Offers" asp-action="Approve" asp-route-id="@offer.OfferId">Approve</button>
                                        <div class="vr"></div>
                                        <button type="submit" class="btn btn-link p-0" asp-controller="Offers" asp-action="Reject" asp-route-id="@offer.OfferId">Reject</button>
                                    </div>

                                    break;

                                case OfferStatus.Approved:
                                    <button type="submit" class="btn btn-link p-0" asp-controller="Offers" asp-action="Received" asp-route-id="@offer.OfferId">Confirm Shipment</button>

                                    break;

                                case OfferStatus.Received:
                                    <button class="btn btn-link p-0" asp-controller="Offers" asp-action="Paid" asp-route-id="@offer.OfferId">Make Payment</button>

                                    break;
                            }
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-end">
            @await Html.PartialAsync("_Paginator", Model)
        </div>
    </div>
</div>