@model IEnumerable<BobBookstore.Models.Order.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRemoved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemoved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetail_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDetail_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetail_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
