@model BookstoreBackend.ViewModel.ResaleBooks.ResaleViewModel;

<head>
    <link rel="stylesheet" href="/css/Resale/Partials/bookinfo.css"/>
</head>

<div class="card card-custom shadow">
    <div class="card-custom-header text-center website-text">
        Book Info
    </div>

    <ul class="list-group list-group-flush">
        <li class="card-custom-li-item  website-text">Book Name: @Model.BookName</li>
        <li class="card-custom-li-item  website-text">Author: @Model.Author</li>
        <li class="card-custom-li-item  website-text">Genre Name: @Model.GenreName</li>
        <li class="card-custom-li-item  website-text">Publisher Name: @Model.PublisherName</li>
        <li class="card-custom-li-item  website-text">Type Name: @Model.TypeName</li>
        <li class="card-custom-li-item  website-text">ISBN: @Model.ISBN</li>
        <li class="card-custom-li-item  website-text">Condition: @Model.ConditionName</li>
        <li class="card-custom-li-item  website-text">Book Price: @Model.BookPrice</li>
    </ul>
</div>
