@model BobsBookstore.Models.Books.Resale;



<style>
    .card-custom {
        border-radius: 3rem;
        border-color: black;
        background-color: white;
    }
    .card-custom-header {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        background-color: white;
        padding: .75rem 1.25rem;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .website-text {
        font-family: 'Arvo',serif
    }
    .card-custom-li-last-item {
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding-bottom: 1rem;
    }
    .card-custom-li-item {
        display: block;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        display: block;
        padding: .75rem 1.25rem;
    }

</style>
<div class="card card-custom shadow" >
    <div class="card-custom-header text-center website-text">
        Book Info
    </div>
   
    <ul class="list-group list-group-flush">
        <li class="card-custom-li-item  website-text">Book Name: @Model.BookName</li>
        <li class="card-custom-li-item  website-text">Author: @Model.Author</li>
        <li class="card-custom-li-item  website-text">Genre Name: @Model.GenreName</li>
        <li class="card-custom-li-item  website-text">Publisher Name: @Model.PublisherName</li>
        <li class="card-custom-li-item  website-text">Type Name: @Model.TypeName</li>
        <li class="card-custom-li-item  website-text">ISBN: @Model.ISBN</li>
        <li class="card-custom-li-item  website-text">Condition: @Model.ConditionName</li>
        <li class="card-custom-li-item  website-text">Book Price: @Model.BookPrice</li>
        <li class="card-custom-li-item  website-text">Front Cover: @Model.FrontUrl</li>
        <li class="card-custom-li-item  website-text">Back Cover: @Model.BackUrl</li>
        <li class="card-custom-li-item  website-text">Left Cover: @Model.LeftUrl</li>
        <li class="card-custom-li-item  website-text">Right Cover: @Model.RightUrl</li>
        <li class="card-custom-li-item  website-text">AudioBook Url: @Model.AudioBookUrl</li>




    </ul>
</div>
