@model BobBookstore.Models.ViewModels.PaginationModel
@{
    ViewData["Title"] = "Search for books";
}

@*<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>*@

<head>
    <meta charset="UTF-8">
    <title>>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://dtdt6j0vhq1rq.cloudfront.net/owl.carousel.min.css">
    <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/styles.css">

</head>

<h2>Search for Books</h2>


<form asp-controller="Search" asp-action="Index" method="get">
        
    <div class="form-group mt-5">
        <label class="col-sm-2 col-form-label">Sort By:</label>
        <select id="selectId" class="col-2 custom-select form-control" name="SortBy" onchange="javascript:this.form.submit()">
            <option value="Name">Name</option>
            <option value="Genre">Genre</option>
            <option value="Type">Type</option>
            <option value="PriceAsc">Price (ascending)</option>
            <option value="PriceDesc">Price (descending)</option>
        </select>
    </div>
    <div class="form-group">
        <input class="form-control col-md-3" type="text" name="SearchString" value="@ViewBag.currentFilter" />
        <button type="submit" class="btn btn-primary" value="Search">Search</button>
    </div>
        


        

    
</form>

@if (Model != null && Model.Count == 0)
{
    <h3>
        No results found.
    </h3>
}
else if (Model != null)
{
<<<<<<< Updated upstream
    


=======
>>>>>>> Stashed changes
    <body>
        <section class="static about-sec">
            <div class="container">
                <h2>Search Results:</h2>

                <div class="recent-book-sec">
                    <div class="row">

                        @foreach (var item in Model.Data)
                        {


                            <div class="col-md-3">
                                <div class="item">
                                    <img src="@Html.DisplayFor(modelItem => item.Url)" alt="img">
                                    <h3>@Html.DisplayFor(modelitem => item.BookName)</h3>
                                    @if (item.Prices.Count != 0)
                                    {

                                        <h6><span class="price">$@item.MinPrice </span> </h6>
                                    }
                                    else
                                    {
                                        <h6> Out Of Stock</h6>
                                    }
                                    <div class="hover">
                                        <form asp-controller="Search" asp-action="Detail" method="get">
                                            <input type="hidden" name="id" value="@item.BookId" />
                                            <input type="submit" value="details" />
                                        </form>

                                    </div>

                                </div>

                            </div>
                        }
                    </div>
                </div>

                <div>
                    <ul class="pagination">
                        @for (var i = 1; i <= (int)Math.Ceiling(Model.Count / 10.0); i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a asp-route-page="@i" asp-route-sortBy="@ViewBag.CurrentSort" asp-route-searchstring="@ViewBag.currentFilter" class="page-link">@i</a>
                            </li>
                        }
                    </ul>
                </div>
        </section>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
    <br />

}


