@model BobsBookstore.Models.ViewModels.PaginationModel
@{
    ViewData["Title"] = "Search for books";
}


<head>
    <meta charset="UTF-8">
    <title>>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">

    <script src="js/jquery.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/custom.js" defer></script>

</head>

<h2>Search for Books</h2>
<br/>

<form asp-controller="Search" asp-action="Index" method="get">

    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" type="text" name="SearchString" value="@ViewBag.currentFilter" />
            <button type="submit" class="btn btn-primary" value="Search">Search</button>

        </div>

        <div class="form-group col-md-6">
            <select id="selectId" class="form-control" name="SortBy" onchange="javascript:this.form.submit()">
                <option value="Name">Name</option>
                <option value="Genre">Genre</option>
                <option value="Type">Type</option>
                <option value="PriceAsc">Price (ascending)</option>
                <option value="PriceDesc">Price (descending)</option>
            </select>
        </div>

    </div>

</form>

@if (Model != null && Model.Count == 0)
{
    <h3>
        No results found.
    </h3>
}
else if (Model != null)
{
    <body>

        <section class="static about-sec">
            <div class="container">
                <h2>Search Results:</h2>

                <div class="recent-book-sec">
                    <div class="row">

                        @foreach (var item in Model.Data)
                        {
                            <div class="col-md-3">
                                <div class="item text-center">
                                    <a asp-controller="Search" asp-action="Detail" asp-route-id="@item.BookId"><img src="@Html.DisplayFor(modelItem => item.Url)" alt="img" class="book_image" onerror="this.onerror=null;this.src='/images/default_c.jpg';"> </a>
                                    <center><p class="text-dark">@Html.DisplayFor(modelitem => item.BookName)</p></center>
                                    @if (item.Prices.Count != 0)
                                    {
                                        <h6><span class="price">$@item.MinPrice </span> </h6> }
                                    else
                                    {
                                        <h6>Out Of Stock</h6>}
                                    <div class="hover">

                                    </div>

                                </div>

                            </div>}
                    </div>
                </div>

                <div>
                    <ul class="pagination">
                        @for (var i = 1; i <= (int)Math.Ceiling(Model.Count / 10.0); i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a asp-route-page="@i" asp-route-sortBy="@ViewBag.CurrentSort" asp-route-searchstring="@ViewBag.currentFilter" class="page-link">@i</a>
                            </li>
                        }
                    </ul>
                </div>
        </section>
    </body>
    <br />

}