@model AdminSite.ViewModel.UpdateBooks.LatestUpdates;
@{
    var updates = Model;
}

<div class="card m-3">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Type</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (updates.NotUserBooks.Count == 0)
                {
                    <tr>
                        <td colspan="10" rowspan="4" style="text-align:center;">
                            <span>No Updates Currently</span>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var b in updates.NotUserBooks)
                    {
                        var param = new Dictionary<string, string>
                {
                { "BookId", $"{b.Book.Id}" }
                };
                        <tr>
                            <td>@b.Book.Id</td>
                            <td>@b.Book.Name</td>
                            <td>@b.Book.Author</td>
                            <td>@b.Book.Publisher.Text</td>
                            <td>@b.Book.Genre.Text</td>
                            <td>@b.Book.BookType.Text</td>
                            <td>@b.Condition.ConditionName</td>
                            <td>@b.ItemPrice</td>
                            <td>@b.UpdatedOn.ToShortDateString()</td>
                            <td>
                                <a class="card-link" asp-action="BookDetails" asp-controller="Inventory" asp-all-route-data="param">Details</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>