@using System.Globalization
@model AdminSite.ViewModel.UpdateBooks.LatestUpdates
@{
    var updates = Model;
}

<head>
    <link rel="stylesheet" href="/css/Home/Partials/importantorders.css" />
</head>

<div class="card m-3">
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer Name</th>

                    <th scope="col">
                        <a href="@Url.Action("WelcomePage", "Home", new { sortByValue = ViewBag.SortPrice })">Price @ViewBag.PriceArrow</a>
                    </th>
                    <th scope="col">
                        <a href="@Url.Action("WelcomePage", "Home", new { sortByValue = ViewBag.SortDate })">Delivery Date @ViewBag.DateArrow</a>
                    </th>
                    <th scope="col">
                        <a href="@Url.Action("WelcomePage", "Home", new { sortByValue = ViewBag.SortStatus })">Status @ViewBag.StatusArrow</a>
                    </th>
                    <th scope="col"> Action</th>
                </tr>
            </thead>
            <tbody>
                @if (updates.ImpOrders.Count == 0)
                {
                    <tr>
                        <td colspan="7" rowspan="4" style="text-align:center;">
                            <span>No Updates Currently</span>
                        </td>

                    </tr>
                }
                else
                {
                    @foreach (var order in updates.ImpOrders)
                    {
                        var param = new Dictionary<string, string>
                {
                { "orderId", $"{order.Order.Id}" }
                };
                        var status = order.Order.OrderStatus;

                        <tr class="">
                            <td>
                                @order.Order.Id
                                <div class="dot @(order.Severity == 2 ? "dotRed" : "dotYellow")">
                                </div>

                            </td>
                            <td>@order.Order.Customer.Customer_Id</td>
                            <td>@order.Order.Customer.FirstName @order.Order.Customer.LastName</td>
                            <td>$@(order.Order.Subtotal + order.Order.Tax)</td>
                            <td> @order.Order.DeliveryDate.ToShortDateString()</td>
                            <td>@order.Order.OrderStatus</td>
                            <td>
                                <a class="card-link" asp-controller="Orders" asp-action="ProcessOrders" asp-all-route-data="param">View Details</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="mb-2">
    <table id="key" r>
        <tr class="keyRows">
            <td>
                <div class="box boxRed">
                </div>
                <span>
                    Delayed Orders
                </span>
            </td>
            <td>
                <div class="box boxYellow"></div>
                <span>Upcoming Orders</span>
            </td>
        </tr>
    </table>
</div>