@using System.Globalization
@model List<Bookstore.Domain.Orders.Order>;

@{
    var orders = Model;
}

<head>
    <link rel="stylesheet" href="/css/Orders/Partials/displayorders.css"/>
</head>

@if (orders == null || !orders.Any())
{
    <div class="text-center col-12">
        <h2 class="website-text">No Results Returned</h2>
        <p class="website-text">It seems that no search results have been returned. Try changing your search query or the filter category</p>
    </div>
}
else
{
    @foreach (var order in orders)
    {
        var param = new Dictionary<string, string>
        {
            { "orderId", $"{order.Id}" }
        };

        <div class="col-lg-3 col-md-4 col-sm-6" style="margin-top:20px;">
            <div class="card shadow order-info-card">

                <div class="order-info-card-header">
                    <div class="col-12 order-info-card-header-text website-text">
                        Order Info
                    </div>
                    <div class="go-corner" href="#">
                        <a asp-controller="Orders" asp-action="ProcessOrders" asp-all-route-data="param">
                            <div class="go-arrow">
                                →
                            </div>
                        </a>

                    </div>
                </div>
                <div class="card-body">
                    <div style="padding-right:0; padding-left:0" class="col-12 d-flex justify-content-between">
                        <h6 class="card-subtitle mb-2 text-muted website-text">Order ID: @order.Id</h6>
                        @*                        <span class="filter-pill-tag badge badge-pill text-white website-text">@order.OrderStatus.Status</span>*@
                    </div>
                    <p class="card-text website-text">Customer ID: @order.Customer.Customer_Id</p>
                    <p class="card-text website-text">Customer Name: @(order.Customer.FirstName == null || order.Customer.LastName == null ? "Error Missing" : order.Customer.FirstName + " " + order.Customer.LastName)</p>
                    <p class="card-text website-text">Expected Delivery Date: @(order.DeliveryDate == null ? "Pending Confirmation" : DateTime.ParseExact(order.DeliveryDate, "dd/MM/yyyy", CultureInfo.InvariantCulture).ToString("MM/dd/yyyy")) </p>
                </div>
            </div>
        </div>
    }
}